*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	background: rgb(9,10,26);
}

div.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

div.calculadora{
	display: inline-block;
	position: relative;
	width: 280px;
	height: auto;
	padding: 15px 2%;
	border-radius: 20px;
	text-align: center;
	background-color: rgb(28,26,47);
	color: white;
	margin: 20px 0;
	border: 1px solid rgb(51,50,81);
	box-shadow: 0 0 50px 5px rgb(25 ,17 ,78);

}

div.resultado input[type=text]{
	width: 100%;
	max-width: 280px;
	padding: 15px 10px;
	border-radius: 15px;
	color: #ccc;
	text-align: right;
	background-color: rgb(28,26,47);
	box-shadow: 0 0 50px 5px rgb(25 ,17 ,78);
	border: 1px solid rgb(51,50,81);
}

div.resultado input[type=text]:focus{outline: none;}

input[type=text]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type=text] {-moz-appearance: textfield;appearance: textfield;}

table{
	width: 100%;
}

table tr td{
	padding: 5px 5px;
	border-radius:10px;
	background-color: rgb(9,15,26);
}

table tr td button{
	display: block;
	font-size: 14px;
	padding: 10px 22px;
	background-color: transparent;
	border:0 ;
	color: white;
	cursor: pointer;
}